#heroSection{
    background-image: url('/assets/hero.jpg');
}

/* #rowColumn{
    margin-top: 80px;
} */
/* Hide scrollbar for the entire page */
html, body {
  overflow-y: scroll; /* allow vertical scroll */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}